<template>
    <n-layout position="absolute">
        <n-layout-header inverted>
            <div class="bg-green-700">
                <div class="container mx-auto px-2 py-4">
                    <div class="flex flex-row items-center">
                        <div class="flex-1">
                            <div class="flex flex-row gap-2 items-center">
                                <n-image :width="50" src="/images/logo.png" />
                                <div>
                                    <div class="font-medium text-lg">Cordvalley</div>
                                    <div class="text-sm">Agricultural Products Trading</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <n-menu mode="horizontal" :value="selected" :options="menu" inverted/>
                        </div>
                    </div>
                </div>
            </div>
        </n-layout-header>
        <n-layout position="absolute" style="top:80px; background:#f2f5f7">
            <n-layout-content style="background:transparent">
                <div class="container mx-auto px-2 py-4">
                    <router-view></router-view>
                </div>
            </n-layout-content>
        </n-layout>
    </n-layout>
</template>
<script>
import { h, resolveComponent } from 'vue'

const renderLabel = (toName, label) => {
    return h(resolveComponent('router-link'),
        { to: { name: toName } },
        { default: () => label }
    )
}

export default {
    computed: {
        menu () {
            return [
                {
                    label: () => renderLabel('home', 'Home'),
                    key: 'home',
                },{
                    label: () => renderLabel('register', 'Register'),
                    key: 'register',
                },,{
                    label: () => renderLabel('login', 'Login'),
                    key: 'login',
                },
            ]
        },
        selected() {
            const { name } = this.$route
            return name
        }
    }
}
</script>