<template>
    <div class="w-full xl:w-1/2 lg:w-2/3 mx-auto">
        <n-form v-if="!success" class="flex flex-col gap-4" :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">
                
            <n-card size="small" title="General Information">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col md:flex-row gap-4">
                        <n-form-item class="flex-1" label="First Name" path="fname" :feedback="formFeedback.message.fname" :validation-status="formFeedback.status.fname">
                            <n-input v-model:value="formValues.fname" placeholder="Input first name" @input="formErrors.fname = undefined" />
                        </n-form-item>

                        <n-form-item class="flex-1" label="Middle Name" path="mname" :feedback="formFeedback.message.mname" :validation-status="formFeedback.status.mname">
                            <n-input v-model:value="formValues.mname" placeholder="Input middle name" @input="formErrors.mname = undefined" />
                        </n-form-item>

                        <n-form-item class="flex-1" label="Last Name" path="lname" :feedback="formFeedback.message.lname" :validation-status="formFeedback.status.lname">
                            <n-input v-model:value="formValues.lname" placeholder="Input last name" @input="formErrors.lname = undefined" />
                        </n-form-item>
                    </div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <n-form-item class="flex-1" label="Suffix (ex. Jr, II, III)" path="suffix">
                            <n-input v-model:value="formValues.suffix" placeholder="Input suffix" />
                        </n-form-item>

                        <n-form-item class="flex-1" label="Contact Number" path="contact_number">
                            <n-input v-model:value="formValues.contact_number" placeholder="Input contact number" />
                        </n-form-item>

                        <n-form-item class="flex-1" label="Gender" path="gender" :feedback="formFeedback.message.gender" :validation-status="formFeedback.status.gender">
                            <n-select v-model:value="formValues.gender" placeholder="Input gender" :options="genders" @update:value="formErrors.gender = undefined" />
                        </n-form-item>

                        <n-form-item class="flex-1" label="Birthdate" path="bday" :feedback="formFeedback.message.bday" :validation-status="formFeedback.status.bday">
                            <n-date-picker class="w-full" :is-date-disabled="dateEnd" v-model:value="formValues.bday" placeholder="Input birthdate" type="date" @update:value="formErrors.bday = undefined" />
                        </n-form-item>
                    </div>
                </div>
            </n-card>

            <n-card size="small" title="Address">
                <SelectAddress v-model="formValues" />
            </n-card>

            <n-card size="small" title="Login Information">
                <div class="flex flex-col md:flex-row gap-4">
                    <n-form-item class="flex-1" label="Username" path="username" :feedback="formFeedback.message.username" :validation-status="formFeedback.status.username">
                        <n-input v-model:value="formValues.username" placeholder="Input username" @input="formErrors.username = undefined" />
                    </n-form-item>

                    <n-form-item class="flex-1" label="Password" path="password" :feedback="formFeedback.message.password" :validation-status="formFeedback.status.password">
                        <n-input type="password" v-model:value="formValues.password" placeholder="Input password" @input="formErrors.password = undefined" />
                    </n-form-item>
                </div>
            </n-card>

            <n-card size="small" title="Code Information">
                <div class="flex flex-col md:flex-row gap-4">
                    <n-form-item class="flex-1" label="Inviter's Username or Account ID" path="invited_by" :feedback="formFeedback.message.invited_by" :validation-status="formFeedback.status.invited_by">
                        <n-input v-model:value="formValues.invited_by" placeholder="Input the account number or username who invites you" @input="formErrors.invited_by = undefined" />
                    </n-form-item>

                    <n-form-item class="flex-1" label="Code" path="code" :feedback="formFeedback.message.code" :validation-status="formFeedback.status.code">
                        <n-input v-model:value="formValues.code" placeholder="Input code" @input="formErrors.code = undefined" />
                    </n-form-item>
                </div>
            </n-card>

            <div class="flex flex-row justify-center mt-4">
                <n-button :disabled="formDisabled" :loading="formDisabled" size="large" type="success" attr-type="submit">Submit Registration</n-button>
            </div>
        </n-form>

        <n-card v-else size="small">
            <n-result status="success"
                title="Registration submitted successfully!"
                :description="`${successData.fullname} has been registered.`">
                <template #footer>
                    <div class="flex flex-row gap-4 justify-center">
                        <n-button @click="success = false">Create new account again</n-button>
                        <n-button @click="$router.push({name:'login'})" type="info">Login</n-button>
                    </div>
                </template>
            </n-result>
        </n-card>
    </div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import SelectAddress from '~/components/utils/SelectAddress.vue'
export default {
    components: { SelectAddress },
    data() {
        return {
            formDisabled: false,
            formValues: {
                bday: new Date(1989, 1, 1).getTime()
            },
            formRules: {
                fname: {
                    required: true,
                    message: 'Please input first name',
                    trigger: ['input', 'blur'],
                },
                mname: {
                    required: true,
                    message: 'Please input middle name',
                    trigger: ['input', 'blur'],
                },
                lname: {
                    required: true,
                    message: 'Please input last name',
                    trigger: ['input', 'blur'],
                },
                bday: {
                    type: 'number',
                    required: true,
                    message: 'Please input birthdate',
                    trigger: ['change', 'blur'],
                },
                gender: {
                    type: 'number',
                    required: true,
                    message: 'Please input gender',
                    trigger: ['change', 'blur'],
                },
                username: {
                    required: true,
                    message: 'Please input username',
                    trigger: ['input', 'blur'],
                },
                password: {
                    required: true,
                    message: 'Please input password',
                    trigger: ['input', 'blur'],
                },
                province: {
                    required: true,
                    message: 'Please input province',
                    trigger: ['input', 'blur'],
                },
                municipality: {
                    required: true,
                    message: 'Please input municipality',
                    trigger: ['input', 'blur'],
                },
                barangay: {
                    required: true,
                    message: 'Please input barangay',
                    trigger: ['input', 'blur'],
                },
                code: {
                    required: true,
                    message: 'Please input code',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},
            genders: [
                {
                    label: 'Male',
                    value: 1,
                },{
                    label: 'Female',
                    value: 2
                }
            ],

            success: false,
            successData: {}
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            const bday = moment(new Date(this.formValues.bday)).format('LL')
            this.formDisabled = true
            try {
                const {data} = await axios.post(`/api/register`, {...this.formValues, bday})
                this.success = true
                this.successData = data
                console.log(data)

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error("The given data is invalid.")
                } else {
                    window.$messageAlert.error("Please try again later.", "Something went wrong")
                }
                
            }
            this.formDisabled = false
        },
        dateEnd(ts) {
            const last = new Date().getFullYear() - 14
            return ts > new Date(last, 1, 1).getTime()
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>