@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?56ggo6');
  src:  url('fonts/icomoon.eot?56ggo6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?56ggo6') format('truetype'),
    url('fonts/icomoon.woff?56ggo6') format('woff'),
    url('fonts/icomoon.svg?56ggo6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail_outline:before {
  content: "\e900";
}
.icon-clear:before {
  content: "\e901";
}
.icon-pin_drop:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-phone_enabled:before {
  content: "\e904";
}
