<template>
    <n-layout position="absolute">
        <div class="mx-auto w-full xl:w-1/4 lg:w-1/2 mt-10">
            <n-card>
                <div class="flex flex-row gap-4 items-center mb-4">
                    <div>
                        <img src="/images/logo.png" style="width: 60px;"/>
                    </div>
                    <div class="flex-1">
                        <div class="font-medium text-lg">CAPT Administrator</div>
                        <div class="text-sm">Cordvalley Agricultural Products Trading</div>
                    </div>
                </div>

                <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

                    <n-form-item label="Username" path="username" :feedback="formFeedback.message.username" :validation-status="formFeedback.status.username">
                        <n-input v-model:value="formValues.username" placeholder="Input username" @input="formErrors.username = undefined" />
                    </n-form-item>

                    <n-form-item label="Password" path="password" :feedback="formFeedback.message.password" :validation-status="formFeedback.status.password">
                        <n-input type="password" v-model:value="formValues.password" placeholder="Input password" @input="formErrors.password = undefined" />
                    </n-form-item>

                    <n-button style="width:100%" :disabled="formDisabled" :loading="formDisabled" attr-type="submit" type="primary">Login</n-button>

                </n-form>
            </n-card>
        </div>
    </n-layout>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            formValues: {
                is_admin: 1
            },
            formDisabled: false,
            formRules: {
                username: {
                    required: true,
                    message: 'Please input username',
                    trigger: ['input', 'blur'],
                },
                password: {
                    required: true,
                    message: 'Please input password',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                await axios.post(`/capt-admin/login`, this.formValues)
                window.location.replace('/capt-admin/panel')

            } catch (e) {
                const { errors } = e.response.data
                if (errors) {
                    this.formErrors = errors
                } else {
                    window.$messageAlert.error(String(e.response.data), "Login Error")
                }
            }
            this.formDisabled = false
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>