<template>
    <n-layout position="absolute">
        <n-layout-header :inverted="true">
            <div class="flex flex-row p-2 items-center bg-teal-800">
                <div style="width:250px" class="flex flex-row gap-2 justify-center items-center">
                    <n-image :width="40" src="/images/logo.png" />
                    <div>
                        <div class="font-medium">C A P T</div>
                        <div class="text-sm">Administration</div>
                    </div>
                </div>
                <div class="flex-1">
                    <div class="w-full xl:w-3/4 mx-auto">
                        <div class="flex flex-row gap-2">
                            <div class="flex-1">
                                <SearchMember @select="goToMember"/>
                            </div>
                            <div class="flex-1">
                                <div class="flex flex-row gap-2 justify-end">
                                    <div>
                                        <n-popover placement="bottom-end" trigger="click">
                                            <template #trigger>
                                                <n-button type="info" color="#fff" ghost>{{ admin.username }}</n-button>
                                            </template>
                                            <n-menu :options="adminMenu" :indent="20" @update:value="adminMenuSelect"/>
                                        </n-popover>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </n-layout-header>
        <n-layout position="absolute" has-sider style="top: 64px;">
            <n-layout-sider bordered width="250">
                <n-menu :options="menu" :value="selected" :default-expand-all="true"></n-menu>
            </n-layout-sider>
            <n-layout-content>
                <div class="relative w-full xl:w-3/4 p-2 mx-auto">
                    <router-view></router-view>
                </div>
            </n-layout-content>
        </n-layout>
    </n-layout>
    <n-modal :mask-closable="false" v-model:show="modalProfile" style="width: 600px;" title="Edit Profile" preset="card">
        <UpdateUserProfile @cancel="modalProfile = false" @success="modalProfile = false"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalPassword" style="width: 600px;" title="Change Password" preset="card">
        <UpdateUserPassword @cancel="modalPassword = false" @success="modalPassword = false"/>
    </n-modal>
</template>
<script>
import { h, resolveComponent } from 'vue'
import { mapState } from 'vuex'
import SearchMember from '~/components/utils/SearchMember.vue'
import UpdateUserProfile from '~/components/admin/forms/UpdateUserProfile.vue'
import UpdateUserPassword from '~/components/admin/forms/UpdateUserPassword.vue'

const renderLabel = (toName, label) => {
    return h(resolveComponent('router-link'),
        { to: { name: toName } },
        { default: () => label }
    )
}

export default {
    components: { SearchMember, UpdateUserProfile, UpdateUserPassword },
    data() {
        return {
            adminMenu: [
                {
                    label: 'Edit Profile',
                    key: 'edit-profile'
                },{
                    label: 'Change Password',
                    key: 'change-password'
                },{
                    label: 'Logout',
                    key: 'logout'
                }
            ],
            modalProfile: false,
            modalPassword: false,
        }
    },
    async created() {
        const { data } = await this.$axios.get(`/member-payouts?pending=1`)
        this.$store.commit('setPayoutRequests', data)
    },
    methods: {
        goToMember(value) {
            this.$router.push({name:'member', params:{id:value}})
        },
        adminMenuSelect(key) {
            switch (key) {
                case 'logout':
                    window.location.replace('/capt-admin/logout')
                    break;
            
                case 'edit-profile':
                    this.modalProfile = true
                    break;

                case 'change-password':
                    this.modalPassword = true
                    break;
            }
        }
    },
    computed: {
        menu () {
            const payoutRequestsCount = (this.payoutRequests >= 1) ? `(${this.payoutRequests})` : ''
            const menu = [
                {
                    label: () => renderLabel('members', 'Members'),
                    key: 'members',
                },{
                    label: () => renderLabel('codes', 'Codes'),
                    key: 'codes',
                },,{
                    label: () => renderLabel('payouts', 'Payouts'),
                    key: 'payouts',
                    extra: payoutRequestsCount
                },{
                    label: () => renderLabel('purchases', 'Purchases'),
                    key: 'purchases',
                },{
                    label: () => renderLabel('products', 'Products'),
                    key: 'products',
                }
            ]

            if (this.admin.is_super) menu.push({
                label: () => renderLabel('admins', 'Admins'),
                key: 'admins',
            })

            return menu
        },
        selected() {
            const { name } = this.$route
            if (['member','member-profit','member-purchases'].includes(name)) return 'members'
            return name
        },
        ...mapState({
            admin: state => state.admin,
            payoutRequests: state => state.payoutRequests.length
        })
    }
}
</script>