<template>
    <content-layout-simple :title="member.fullname"
        :loading="loading"
        :empty="!member.id ? true : false"
    >
        <template #header-right>
            <n-button type="info" @click="modalPayout = true">Add Payout</n-button>
        </template>

        <div class="mb-5">
            <MembersProfile :member="member"/>
        </div>

        <div v-if="requestPayout.id" class="mb-5">
            <MembersPayoutRequest :payout="requestPayout" @success="getRequestPayout()"/>
        </div>

        <div class="mt-4">
            <n-menu mode="horizontal" :value="selected" :options="menu"/>
            <router-view :id="member.id"></router-view>
        </div>

    </content-layout-simple>
    <n-modal :mask-closable="false" v-model:show="modalPayout" style="width: 600px;" title="Add Payout" preset="card">
        <CreatePayout :member-id="member.id" :profits="member.total_balance" @cancel="modalPayout = false" @success="successPayout()"/>
    </n-modal>
</template>
<script>
import ContentLayoutSimple from '~/components/utils/ContentLayoutSimple.vue'
import MembersProfile from '~/components/utils/MembersProfile.vue'
import MembersPayoutRequest from '~/components/utils/MembersPayoutRequest.vue'
import CreatePayout from '~/components/admin/forms/CreatePayout.vue'
import { h, resolveComponent } from 'vue'

const renderLabel = (toName, label) => {
    return h(resolveComponent('router-link'),
        { to: { name: toName } },
        { default: () => label }
    )
}

export default {
    props: ['id'],
    components: { ContentLayoutSimple, MembersProfile, MembersPayoutRequest, CreatePayout },
    data () {
        return {
            member: {},
            loading: false,

            modalPayout: false,
            requestPayout: {},
        }
    },
    created() {
        this.$watch(() => this.$route.params, () => {
            this.getMember()
        },{ immediate: true })
        this.getRequestPayout()
    },
    methods: {
        async getMember() {
            await this.id

            this.loading = true
            const { data } = await this.$axios.get(`/members/${this.id}`)
            this.member = data
            this.loading = false
        },
        successPayout() {
            this.modalPayout = false
            this.getMember()
            this.getRequestPayout()
            window.$message.success("Payout submitted successfully!")
        },
        async getRequestPayout() {
            const { data } = await this.$axios.get(`/members/${this.id}/payout-requests`)
            this.requestPayout = data
        }
    },
    computed: {
        menu() {
            return [
                {
                    label: () => renderLabel('member', 'Summary'),
                    key: 'member',
                },{
                    label: () => renderLabel('member-purchases', 'Purchases'),
                    key: 'member-purchases',
                }
            ]
        },
        selected() {
            const { name } = this.$route
            return name
        }
    },
}
</script>