<template>
    <content-layout :hide-header="true"
        :loading="loading"
        :empty="purchases.length >= 1 ? false : true"
        :page-count="pageCount"
        :has-search="false"
        :has-select-address="false"
    >

        <div class="flex flex-col gap-4">
            <div v-for="purchase in purchases" :key="purchase.id">
                <PurchaseCard :purchase="purchase"/>
            </div>
        </div>

    </content-layout>
</template>
<script>
import ContentLayout from '~/components/utils/ContentLayout.vue'
import PurchaseCard from '~/components/utils/PurchaseCard.vue'
export default {
    props: ['id'],
    components: { ContentLayout,PurchaseCard },
    data() {
        return {
            purchases: [],
            loading: true,
            pageCount: 1
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getPurchases()
        },{ immediate: true })
    },
    methods: {
        async getPurchases() {
            await this.id
            const params = this.$route.query
            params.member_id = this.id

            this.loading = true
            const { data } = await this.$axios.get(`/purchases`, {params})
            this.purchases = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
    },
}
</script>