<template>
    <content-layout title="Members"
        :loading="loading"
        :empty="members.length >= 1 ? false : true"
        :page-count="pageCount"
    >
        <div class="overflow-auto mb-4">
            <n-table size="small">
                <thead>
                    <tr>
                        <th>Account ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Registered at</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="member in members" :key="member.id">
                        <td class="w-1 whitespace-nowrap">{{ member.account_id }}</td>
                        <td>
                            <router-link class="cursor-pointer hover:text-blue-600 block"
                                :to="{name:'member', params:{id:member.id}}"
                            >
                                {{ member.fullname }}
                            </router-link>
                        </td>
                        <td>{{ member.address }}</td>
                        <td>{{ moment(member.created_at).format('lll') }}</td>
                    </tr>
                </tbody>
            </n-table>
        </div>
    </content-layout>
</template>
<script>
import moment from 'moment'
import ContentLayout from '~/components/utils/ContentLayout.vue'
export default {
    components: { ContentLayout },
    data () {
        return {
            moment,
            members: [],
            loading: false,
            pageCount: 1,
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getMembers()
        },{ immediate: true })
    },
    methods: {
        async getMembers() {
            const params = this.$route.query
            this.loading = true

            const { data } = await this.$axios.get(`/members`, { params })
            this.members = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
    }
}
</script>