<template>
    <content-layout :hide-header="true"
        :loading="loading"
        :empty="profits.length >= 1 ? false : true"
        :page-count="pageCount"
        :has-search="false"
        :has-select-address="false"
    >
    <ProfitTable :profits="profits"/>
    </content-layout>
</template>
<script>
import ContentLayout from '~/components/utils/ContentLayout.vue'
import ProfitTable from '~/components/utils/ProfitTable.vue'
export default {
    props: ['id'],
    components: { ContentLayout, ProfitTable },
    data() {
        return {
            profits: [],
            loading: true,
            pageCount: 1
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getProfits()
        },{ immediate: true })
    },
    methods: {
        async getProfits() {
            this.loading = true
            const { data } = await this.$axios.get(`/member-profits?member_id=${this.id}`)
            this.profits = data.data
            this.pageCount = data.last_page
            this.loading = false
        }
    },
    watch: {
        id() {
            this.getProfits()
        }
    }
}
</script>