<template>
    <content-layout title="Payouts"
        :loading="loading"
        :empty="payouts.length >= 1 ? false : true"
        :page-count="pageCount"
    >
        <template v-if="requests.length >= 1" #extra>
            <div class="relative">
                <n-spin :show="requestsLoading">
                    <div class="mb-2 font-medium">Pending Request Payouts</div>
                    <div class="overflow-auto">
                        <n-table>
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Amount</th>
                                    <th>Address</th>
                                    <th>Remarks</th>
                                    <th>Requested At</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(request, i) in requests" :key="i">
                                    <td>{{ request.member.fullname }}</td>
                                    <td>{{ numeral(request.profits).format('0,0.00') }}</td>
                                    <td>{{ request.member.address }}</td>
                                    <td>{{ request.remarks }}</td>
                                    <td>{{ moment(request.requested_at).format('LLL') }}</td>
                                    <td class="w-1 whitespace-nowrap">
                                        <div class="flex flex-row gap-2">
                                            <n-button @click="confirmRequestPayout(request.id)" type="info">Confirm</n-button>
                                            <n-button @click="deleteRequestPayout(request.id)" type="error">Delete</n-button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </n-table>
                    </div>
                </n-spin>
            </div>
        </template>

        <div class="overflow-auto mb-4">
            <n-table size="small">
                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Amount</th>
                        <th>Address</th>
                        <th>Remarks</th>
                        <th>Admin</th>
                        <th>Requested At</th>
                        <th>Confirmed At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(payout, i) in payouts" :key="i">
                        <td>{{ payout.member.fullname }}</td>
                        <td>{{ numeral(payout.profits).format('0,0.00') }}</td>
                        <td>{{ payout.member.address }}</td>
                        <td>{{ payout.remarks }}</td>
                        <td>{{ payout.admin.fullname }}</td>
                        <td>{{ moment(payout.requested_at).format('LLL') }}</td>
                        <td>{{ moment(payout.confirmed_at).format('LLL') }}</td>
                    </tr>
                </tbody>
            </n-table>
        </div>
    </content-layout>
</template>
<script>
import moment from 'moment'
import numeral from 'numeral'
import ContentLayout from '~/components/utils/ContentLayout.vue'
import { useDialog } from 'naive-ui'
import { mapState } from 'vuex'
export default {
    components: { ContentLayout },
    setup() {
        const dialog = useDialog()
        return { dialog }
    },
    data() {
        return {
            moment,
            numeral,
            payouts: [],
            loading: false,
            pageCount: 1,
            requestsLoading: false
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getPayouts()
        },{ immediate: true })
    },
    methods: {
        async getPayouts() {
            const params = this.$route.query
            this.loading = true

            const { data } = await this.$axios.get(`/member-payouts`, { params })
            this.payouts = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
        async confirmRequestPayout(id) {
            this.requestsLoading = true
            await this.$axios.post(`/payout-requests/${id}?_method=PUT`)
            this.requestsLoading = false
            this.$store.commit('removePayoutRequest', id)
            this.getPayouts()
            window.$message.success("Payout request confirmed successfully!")
        },
        deleteRequestPayout(id) {
            const dialog = this.dialog.warning({
                title: "Delete request payout",
                content: `Are you sure you want to delete this?`,
                positiveText: 'Continue',
                negativeText: 'Cancel',
                onPositiveClick: async () => {
                    dialog.loading = true
                    try {
                        await this.$axios.post(`/payout-requests/${id}?_method=DELETE`)
                        this.$store.commit('removePayoutRequest', id)
                        window.$message.success("Payout request deleted successfully!")

                    } catch (e) {
                        const { data } = e.response
                        window.$message.error(String(data.message))
                    }

                    dialog.loading = false
                },
            })
        }
    },
    computed: {
        ...mapState({
            requests: state => state.payoutRequests
        })
    }
}
</script>