<template>
    <content-layout-simple title="Products"
        :loading="loading"
        :empty="products.length >= 1 ? false : true"
    >
        <template #header-right>
            <n-button type="info" @click="modalProduct = true">Add Product</n-button>
        </template>

        <div class="flex flex-col gap-4">
            <div v-for="product in products" :key="product.id">
                <n-card size="small">
                    <div class="flex flex-row gap-2">
                        <div class="flex-1 font-medium text-lg">{{ product.title }}</div>
                        <div>
                            <n-button size="small" @click="modalUpdateProduct = true, productData = product">Edit</n-button>
                        </div>
                        <div>
                            <n-button size="small" type="info" @click="modalProductItem = true, productID = product.id">Add Item</n-button>
                        </div>
                    </div>
                    <div>{{ product.description }}</div>

                    <div class="overflow-auto mt-2">
                        <n-table size="small" v-if="product.product_items.length >= 1">
                            <thead>
                                <tr>
                                    <th>Item Volume</th>
                                    <th>Suggestd Retail Price</th>
                                    <th>Discounted Price</th>
                                    <th>Points</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in product.product_items" :key="item.id">
                                    <td>{{ item.volume }}</td>
                                    <td>{{ item.price_format }}</td>
                                    <td>{{ item.price_discounted_format }}</td>
                                    <td>{{ item.points }}</td>
                                    <td class="w-1 whitespace-nowrap">
                                        <n-button size="small" @click="modalUpdateItem = true, productItem = item">Edit</n-button>
                                    </td>
                                </tr>
                            </tbody>
                        </n-table>
                        <n-empty v-else description="No item found"></n-empty>
                    </div>
                </n-card>
            </div>
        </div>

    </content-layout-simple>

    <n-modal :mask-closable="false" v-model:show="modalProduct" style="width: 600px;" title="Add Product" preset="card">
        <CreateProduct @cancel="modalProduct = false" @success="getProducts(), modalProduct = false"/>
    </n-modal>

    <n-modal :mask-closable="false" v-model:show="modalUpdateProduct" style="width: 600px;" title="Edit Product" preset="card">
        <UpdateProduct :product="productData" @cancel="modalUpdateProduct = false" @success="getProducts(), modalUpdateProduct = false"/>
    </n-modal>

    <n-modal :mask-closable="false" v-model:show="modalProductItem" style="width: 600px;" title="Add Product Item" preset="card">
        <CreateProductItem :product="productID" @cancel="modalProductItem = false" @success="getProducts(), modalProductItem = false"/>
    </n-modal>

    <n-modal :mask-closable="false" v-model:show="modalUpdateItem" style="width: 600px;" title="Edit Product Item" preset="card">
        <UpdateProductItem :item="productItem" @cancel="modalUpdateItem = false" @success="getProducts(), modalUpdateItem = false"/>
    </n-modal>
</template>
<script>
import ContentLayoutSimple from '~/components/utils/ContentLayoutSimple.vue'
import CreateProduct from '~/components/admin/forms/CreateProduct.vue'
import UpdateProduct from '~/components/admin/forms/UpdateProduct.vue'
import CreateProductItem from '~/components/admin/forms/CreateProductItem.vue'
import UpdateProductItem from '~/components/admin/forms/UpdateProductItem.vue'
export default {
    components: { ContentLayoutSimple, CreateProduct, UpdateProduct, CreateProductItem, UpdateProductItem },
    data() {
        return {
            products: [],
            loading: false,
            modalProduct: false,
            modalProductItem: false,
            modalUpdateItem: false,
            modalUpdateProduct: false,
            productData: {},
            productID: 0,
            productItem: {},
        }
    },
    created() {
        this.getProducts()
    },
    methods: {
        async getProducts() {
            const params = this.$route.query
            this.loading = true

            const { data } = await this.$axios.get(`/products`, {params})
            this.products = data
            this.loading = false
        },
    }
}
</script>