<template>
    <content-layout title="Purchases"
        :loading="loading"
        :empty="purchases.length >= 1 ? false : true"
        :page-count="pageCount"
        :has-select-address="false"
        :has-search="false"
    >
        <template #header-right>
            <n-button type="info" @click="modal = true">Add Purchase</n-button>
        </template>

        <div class="flex flex-col gap-4">
            <div v-for="purchase in purchases" :key="purchase.id">
                <PurchaseCard :purchase="purchase"/>
            </div>
        </div>

    </content-layout>
    <n-modal :mask-closable="false" v-model:show="modal" style="width: 600px;" title="Add Purchase" preset="card">
        <CreatePurchase @cancel="modal = false" @success="purchaseMore()"/>
    </n-modal>
</template>
<script>
import { useDialog } from 'naive-ui'
import ContentLayout from '~/components/utils/ContentLayout.vue'
import PurchaseCard from '~/components/utils/PurchaseCard.vue'
import CreatePurchase from '~/components/admin/forms/CreatePurchase.vue'
export default {
    components: { ContentLayout, CreatePurchase, PurchaseCard },
    setup() {
        const { success } = useDialog()
        return { success }
    },
    data() {
        return {
            purchases: [],
            loading: false,
            pageCount: 1,
            modal: false
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getPurchases()
        },{ immediate: true })
    },
    methods: {
        async getPurchases() {
            const params = this.$route.query
            this.loading = false

            const { data } = await this.$axios.get(`/purchases`, {params})
            this.purchases = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
        purchaseMore() {
            this.getPurchases()
            this.modal = false
            this.success({
                title: 'Purchase submitted successfully!',
                content: 'Add more purchase?',
                positiveText: 'OK',
                negativeText: 'Cancel',
                onPositiveClick:() => {
                    this.modal = true
                }
            })
        }
    }
}
</script>