<template>
    <content-layout-simple title="Admins"
        :loading="loading"
        :empty="admins.length >= 1 ? false : true"
    >
        <template #header-right>
            <n-button type="info" @click="modalAdmin = true">Add Admin</n-button>
        </template>

        <div class="overflow-auto mb-4">
            <n-table size="small">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(admin, i) in admins" :key="i">
                        <td>{{ admin.fullname }}</td>
                        <td>{{ admin.username }}</td>
                        <td>
                            <n-tag v-if="!admin.deleted_at" type="info">Active</n-tag>
                            <n-tag v-else type="error">Deactivated</n-tag>
                        </td>
                        <td class="w-1 whitespace-nowrap text-right">
                            <div v-if="!admin.deleted_at" class="flex flex-row gap-2">
                                <n-button @click="modalAdminData = admin, modalAdminEdit = true">Edit</n-button>
                                <n-button @click="deactivate(admin)" type="error">Deactivate</n-button>
                            </div>
                            <n-button v-else type="info" @click="activate(admin)">Activate</n-button>
                        </td>
                    </tr>
                </tbody>
            </n-table>
        </div>
    </content-layout-simple>
    <n-modal :mask-closable="false" v-model:show="modalAdmin" style="width: 600px;" title="Add admin" preset="card">
        <UpsertAdmin @cancel="modalAdmin = false" @success="pushAdmin"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalAdminEdit" style="width: 600px;" title="Edit admin" preset="card">
        <UpsertAdmin v-model="modalAdminData" @cancel="modalAdminEdit = false" @success="modalAdminEdit = false"/>
    </n-modal>
</template>
<script>
import ContentLayoutSimple from '~/components/utils/ContentLayoutSimple.vue'
import UpsertAdmin from '~/components/admin/forms/UpsertAdmin.vue'
import { useDialog } from 'naive-ui'
export default {
    components: { ContentLayoutSimple, UpsertAdmin },
    setup() {
        const dialog = useDialog()
        return { dialog }
    },
    data() {
        return {
            admins: [],
            loading: false,
            modalAdmin: false,
            modalAdminEdit: false,
            modalAdminData: {},
        }
    },
    created() {
        this.getAdmins()
    },
    methods: {
        async getAdmins() {
            this.loading = true
            const { data } = await this.$axios.get('/admins')
            this.admins = data
            this.loading = false
        },
        pushAdmin(data) {
            this.modalAdmin = false
            this.admins.push(data)
        },
        deactivate(admin) {
            const dialog = this.dialog.warning({
                title: "Deactivate Admin",
                content: `Are you sure you want to deactivate ${admin.username}?`,
                positiveText: 'Continue',
                negativeText: 'Cancel',
                onPositiveClick: async () => {
                    dialog.loading = true
                    try {
                        const { data } = await this.$axios.post(`/admins/${admin.id}?_method=DELETE`)
                        const index = this.admins.findIndex(el => el.id == data.id)
                        this.admins[index] = data

                    } catch (e) {
                        const { data } = e.response
                        window.$message.error(String(data.message))
                    }

                    dialog.loading = false
                },
            })
        },
        activate(admin) {
            const dialog = this.dialog.info({
                title: "Activate Admin",
                content: `Are you sure you want to activate ${admin.username}?`,
                positiveText: 'Continue',
                negativeText: 'Cancel',
                onPositiveClick: async () => {
                    dialog.loading = true
                    try {
                        const { data } = await this.$axios.post(`/admin-activate/${admin.id}`)
                        const index = this.admins.findIndex(el => el.id == data.id)
                        this.admins[index] = data

                    } catch (e) {
                        const { data } = e.response
                        window.$message.error(String(data.message))
                    }

                    dialog.loading = false
                },
            })
        }
    }
}
</script>