/* Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Animate CSS */
@import 'animate.css';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Quicksand:wght@400;700&display=swap');

/* Icons */
@import 'icons/style.css';

/* Customs */
body, html {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 16px;
}

.custom-button { @apply hover:bg-green-600 bg-green-700 font-bold text-white uppercase py-3 px-5 text-center inline-block; }

.custom-h1 { @apply uppercase font-bold font-poppins mb-2 leading-normal text-green-800; }
.custom-h2 { @apply uppercase font-bold mb-2; }

.custom-container { max-width: 1024px; }
.custom-container-tablet { max-width: 768px; }
.custom-container, .custom-container-tablet {
    margin: 0px auto;
    padding: 0px 20px;
}

.custom-flex { @apply flex flex-col md:flex-row md:items-center gap-8; }

.custom-fancy-shadow { position: relative; }
.custom-fancy-shadow::after {
    content: "";
    z-index: -1;
    @apply absolute inset-0 bg-green-800 rotate-6;
}