<template>
    <n-message-provider>
        <n-dialog-provider>
            <router-view></router-view>
            <NaiveMessage />
        </n-dialog-provider>
    </n-message-provider>
</template>
<script>
import NaiveMessage from '~/components/utils/NaiveMessage.vue'
export default {
    components: { NaiveMessage },
    setup() {
        window.$formFeebacks = (errors) => {
            const message = {}
            const status = {}
            Object.keys(errors).forEach(e => {
                if (errors[e]) {
                    status[e] = 'error'
                    message[e] = errors[e].join('\n')
                }
            })
            return { message, status }
        }
    }
}
</script>