<template>
    <n-layout position="absolute">
        <n-layout-header :inverted="true">
            <div class="bg-green-700 p-2">
                <div class="w-full xl:w-1/2 lg:w-3/4 mx-auto">
                    <div class="flex flex-row gap-2 items-center">
                        <div class="flex-1">
                            <div class="flex flex-row gap-2 items-center">
                                <n-image :width="40" src="/images/logo.png" />
                                <div>
                                    <div class="font-medium">CAPT Member</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1">
                            <div class="flex flex-row gap-2 justify-end">
                                <div>
                                    <n-popover placement="bottom-end" trigger="click">
                                        <template #trigger>
                                            <n-button type="info" color="#fff" ghost>{{ user.username }}</n-button>
                                        </template>
                                        <n-menu :options="popupMenu" :indent="20" @update:value="popupMenuSelect"/>
                                    </n-popover>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </n-layout-header>
        <n-layout position="absolute" style="top: 64px;">
            <n-layout-content>
                <div class="relative w-full xl:w-1/2 lg:w-3/4 p-2 mx-auto">
                    <div class="flex flex-col md:flex-row gap-4 mb-5">
                        <div class="flex-1 font-medium text-lg">{{ user.fullname }}</div>
                        <div>
                            <n-button @click="modalRequest = true" type="info" style="width:100%">Request Payout</n-button>
                        </div>
                    </div>
                    <MembersProfile :member="user" class="mb-5"/>

                    <div v-if="requestPayout.id" class="mb-5">
                        <n-alert title="Pending Request Payout" type="info">
                            <p>
                                Total amount of {{ numeral(requestPayout.profits).format('0,0.00') }} was 
                                requested at {{ moment(requestPayout.requested_at).format('LLL') }}
                            </p>
                            <p>Please wait for the confirmation before you request payout again. Thank you.</p>
                        </n-alert>
                    </div>

                    <n-menu mode="horizontal" :value="selected" :options="menu"/>
                    <router-view></router-view>
                </div>
            </n-layout-content>
        </n-layout>
    </n-layout>

    <n-modal :mask-closable="false" v-model:show="modalRequest" style="width: 600px;" title="Request Payout" preset="card">
        <RequestPayout @cancel="modalRequest = false" @success="modalRequest = false, getPayoutRequests()"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalPassword" style="width: 600px;" title="Change Password" preset="card">
        <ChangePassword @cancel="modalPassword = false" @success="modalPassword = false"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalProfile" style="width: 600px;" title="Edit Username" preset="card">
        <EditUsername @cancel="modalProfile = false" @success="modalProfile = false"/>
    </n-modal>
</template>
<script>
import { mapState } from 'vuex'
import { h, resolveComponent } from 'vue'
import MembersProfile from '~/components/utils/MembersProfile.vue'
import RequestPayout from '~/components/member/forms/RequestPayout.vue'
import ChangePassword from '~/components/member/forms/ChangePassword.vue'
import EditUsername from '~/components/member/forms/EditUsername.vue'
import numeral from 'numeral'
import moment from 'moment'

const renderLabel = (toName, label) => {
    return h(resolveComponent('router-link'),
        { to: { name: toName } },
        { default: () => label }
    )
}

export default {
    components: { MembersProfile, RequestPayout, ChangePassword, EditUsername },
    data() {
        return {
            numeral,
            moment,
            popupMenu: [
                {
                    label: 'Edit Username',
                    key: 'edit-username'
                },{
                    label: 'Change Password',
                    key: 'change-password'
                },{
                    label: 'Logout',
                    key: 'logout'
                }
            ],
            modalProfile: false,
            modalPassword: false,
            modalRequest: false,

            requestPayout: {},
            requestLoading: false,
        }
    },
    created() {
        this.getPayoutRequests()
    },
    methods: {
        popupMenuSelect(key) {
            switch (key) {
                case 'logout':
                    window.location.replace('/member/logout')
                    break;
            
                case 'edit-username':
                    this.modalProfile = true
                    break;

                case 'change-password':
                    this.modalPassword = true
                    break;
            }
        },
        async getPayoutRequests() {
            this.requestLoading = true
            const { data } = await this.$axios.get('/request-payout')
            this.requestPayout = data
            this.requestLoading = false
        },
    },
    computed: {
        ...mapState({
            user: state => state.user
        }),
        menu() {
            return [
                {
                    label: () => renderLabel('member', 'Summary'),
                    key: 'member',
                },{
                    label: () => renderLabel('member-purchases', 'Purchases'),
                    key: 'member-purchases',
                }
            ]
        },
        selected() {
            const { name } = this.$route
            return name
        }
    }
}
</script>