<template>
    <div class="flex flex-col lg:flex-row gap-4">
        <div class="flex-1">
            <div class="flex flex-col gap-4">
                <n-card size="small" title="Available Balance">
                    <div class="text-3xl">{{ numeral(member.total_balance).format('0,0.00') }}</div>
                </n-card>
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex-1">
                        <n-card size="small" title="Username">
                            <div class="text-xl select-all">{{ member.username }}</div>
                        </n-card>
                    </div>
                    <div class="flex-1">
                        <n-card size="small" title="Account Number">
                            <div class="text-xl select-all">{{ member.account_id }}</div>
                        </n-card>
                    </div>
                </div>
                <div v-if="member.invited_by">
                    <n-card size="small" title="Invited By">
                        <div class="text-xl">{{ member.inviter_name }}</div>
                    </n-card>
                </div>
            </div>
        </div>
        <div class="flex-1">
            <n-card title="General Information" size="small">
                <n-table :bordered="false" size="small">
                    <tbody>
                        <tr v-for="(detail, i) in details" :key="i">
                            <td>{{ detail.value }}</td>
                            <td class="text-right"><span class="text-gray-500">{{ detail.label }}</span></td>
                        </tr>
                    </tbody>
                </n-table>
            </n-card>
        </div>
    </div>
</template>
<script>
import moment from 'moment'
import numeral from 'numeral'
export default {
    props: {
        member: {type:Object, default:{}}
    },
    data() {
        return {
            numeral
        }
    },
    computed: {
        details() {
            return [
                {
                    label: 'Date Registered',
                    value: moment(this.member.created_at).format('LLL')
                },{
                    label: 'Address',
                    value: this.member.address
                },{
                    label: 'Birthdate',
                    value: moment(this.member.bday).format('LL')
                },{
                    label: 'Gender',
                    value: this.member.gender_str
                }
            ]
        }
    }
}
</script>