<template>
    <n-alert type="info" title="Pending Request Payout">
        <p>
            Total amount of {{ numeral(payout.profits).format('0,0.00') }} was 
            requested at {{ moment(payout.requested_at).format('LLL') }}
        </p>
        <p>
            Remarks: {{ payout.remarks }}
        </p>
        <div class="flex flex-row gap-2 justify-end">
            <n-button :loading="loading" :disabled="loading" @click="confirmPayout()" type="info">Confirm</n-button>
            <n-button :loading="loading" :disabled="loading" @click="deletePayout()" type="error">Delete</n-button>
        </div>
    </n-alert>
</template>
<script>
import numeral from 'numeral'
import moment from 'moment'
import { useDialog } from 'naive-ui'
export default {
    props: {
        payout: {type:Object, default:{}}
    },
    setup() {
        const dialog = useDialog()
        return { dialog }
    },
    data() {
        return {
            numeral,
            moment,
            loading: false
        }
    },
    methods: {
        async confirmPayout() {
            this.loading = true
            await this.$axios.post(`/payout-requests/${this.payout.id}?_method=PUT`)
            this.loading = false
            this.$store.commit('removePayoutRequest', this.payout.id)
            this.$emit('success')
            window.$message.success("Payout request confirmed successfully!")
        },
        deletePayout() {
            const dialog = this.dialog.warning({
                title: "Delete request payout",
                content: `Are you sure you want to delete this?`,
                positiveText: 'Continue',
                negativeText: 'Cancel',
                onPositiveClick: async () => {
                    dialog.loading = true
                    try {
                        await this.$axios.post(`/payout-requests/${this.payout.id}?_method=DELETE`)
                        this.$store.commit('removePayoutRequest', this.payout.id)
                        this.$emit('success')
                        window.$message.success("Payout request deleted successfully!")

                    } catch (e) {
                        const { data } = e.response
                        window.$message.error(String(data.message))
                    }

                    dialog.loading = false
                },
            })
        }
    }
}
</script>