<template>
    <div class="overflow-auto">
        <n-table>
            <tbody>
                <tr v-for="(profit, i) in profits" :key="i">
                    <td>
                        <div class="font-medium">{{ moment(profit.date).format('LL') }}</div>
                        <div v-if="profit.is_profit >= 1" class="text-lg">{{ profit.remarks }}</div>
                        <div v-else>
                            <div class="text-lg">Payout</div>
                            <div>Remarks: {{ profit.remarks }}</div>
                        </div>
                    </td>
                    <td class="w-1 whitespace-nowrap text-right">
                        <div :class="{'text-red-600':profit.is_profit <= 0, 'text-emerald-600':profit.is_profit >= 1}">
                            <div>Total Amount</div>
                            <div class="text-xl">
                                <span class="mr-px">{{ profit.is_profit <= 0 ? '-' : '+' }}</span>
                                {{ numeral(profit.profits).format('0,0.00') }}
                            </div>
                        </div>
                    </td>
                    <td class="w-1 whitespace-nowrap text-right">
                        <div>Available Balance</div>
                        <div class="text-xl">{{ numeral(profit.total_balance).format('0,0.00') }}</div>
                    </td>
                </tr>
            </tbody>
        </n-table>
    </div>
</template>
<script>
import moment from 'moment'
import numeral from 'numeral'
export default {
    props: {
        profits: Array
    },
    data() {
        return {
            moment,
            numeral,
        }
    }
}
</script>