<template>
    <n-card size="small">

        <div v-if="purchase.member" class="flex flex-col md:flex-row gap-x-2 mb-2">
            <div class="flex-1">
                <div class="flex flex-col">
                    <div>Member Name: <b>{{ purchase.member.fullname }}</b></div>
                    <div>Address: <b>{{ purchase.member.address }}</b></div>
                </div>
            </div>
            <div>
                <div class="flex flex-col">
                    <div>Date: <b>{{ moment(purchase.purchased_at).format('ll') }}</b></div>
                    <div>AR No: <b>{{ purchase.ar_number }}</b></div>
                </div>
            </div>
        </div>
        <div v-else class="mb-2">
            <div class="flex flex-col md:flex-row">
                <div class="flex-1">Date: <b>{{ moment(purchase.purchased_at).format('ll') }}</b></div>
                <div>AR No: <b>{{ purchase.ar_number }}</b></div>
            </div>
        </div>

        <div class="overflow-auto mb-2">
            <n-table size="small">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in purchase.purchase_items" :key="item.id">
                        <td>{{ `${item.product_title} - ${item.product_volume}` }}</td>
                        <td>{{ item.price_format }}</td>
                        <td>{{ item.quantity }}</td>
                        <td class="w-1 whitespace-nowrap text-right">{{ item.total }}</td>
                    </tr>
                </tbody>
            </n-table>
        </div>
        <div class="flex flex-col-reverse md:flex-row">
            <div class="flex-1 italic text-gray-500">
                <div>Remarks: {{ purchase.remarks }}</div>
                <div v-if="purchase.admin" class="text-xs">Added by {{ purchase.admin.fullname }} on {{ moment(purchase.created_at).format('lll') }}</div>
            </div>
            <div class="text-lg">
                Total: <b>{{ purchase.total_format }}</b>
            </div>
        </div>
    </n-card>
</template>
<script>
import moment from 'moment'
export default {
    props: {
        purchase: {type:Object, default:{}},
    },
    data() {
        return {
            moment
        }
    }
}
</script>