<template>
    <n-select filterable remote :loading="loading" v-model:value="modelValue" :options="members" placeholder="Search members" @search="searchMember" @update:value="updateValue"/>
</template>
<script>
import _debounce from 'lodash/debounce'
export default {
    props: {
        modelValue: [Number, String]
    },
    data() {
        return {
            members: [],
            loading: false,
        }
    },
    methods: {
        searchMember: _debounce(async function(search) {
            this.loading = true
            const { data } = await this.$axios.get(`/members?search=${search}`)
            this.members = data.data.map(el => {
                return {
                    label: el.fullname,
                    value: el.id
                }
            })
            this.loading = false
        }, 600),
        updateValue(value) {
            this.$emit('update:modelValue', value)
            this.$emit('select', value)
        }
    }
}
</script>