<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Username" path="username" :feedback="formFeedback.message.username" :validation-status="formFeedback.status.username">
            <n-input v-model:value="formValues.username" placeholder="Input username" @update:value="formErrors.username = undefined" />
        </n-form-item>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
export default {
    data() {
        return {
            formDisabled: false,
            formValues: {
                username: this.$store.state.user?.username
            },
            formRules: {
                username: {
                    required: true,
                    message: 'Please input username',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await this.$axios.post(`/edit-username`, this.formValues)
                this.$store.commit('setUser', Object.assign(this.$store.state.user, data))
                this.$emit('success', data)
                window.$message.success("Username updated successfully!")

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>