<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">
        <n-form-item label="Total profits" path="profits" :feedback="formFeedback.message.profits" :validation-status="formFeedback.status.profits">
            <n-input-number :min="1" style="width:100%" v-model:value="formValues.profits" placeholder="Input profits" @update:value="formErrors.profits = undefined" />
        </n-form-item>

        <n-form-item label="Remarks" path="remarks" :feedback="formFeedback.message.remarks" :validation-status="formFeedback.status.remarks">
            <n-input type="textarea" v-model:value="formValues.remarks" placeholder="Input remarks" @input="formErrors.remarks = undefined" />
        </n-form-item>

        <n-alert v-if="formErrors.pending_requests" title="Pending Requests" type="error" closable class="mb-4">
            <p v-for="p in formErrors.pending_requests" :key="p">{{ p }}</p>
        </n-alert>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
export default {
    data() {
        return {
            formDisabled: false,
            formValues: {
                profits: Number(this.$store.state.user?.total_balance)
            },
            formRules: {
                profits: {
                    type: 'number',
                    required: true,
                    trigger: ['input', 'change', 'blur'],
                    validator: this.validateProfit
                },
                remarks: {
                    required: true,
                    message: 'Please input remarks',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await this.$axios.post(`/request-payout`, this.formValues)
                this.$emit('success', data)
                window.$message.success("Payout request submitted successfully!")

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
        validateProfit(r, value) {
            if (value < 1000) return new Error("Profits must be higher than 1000")
            if (value > this.$store.state.user?.total_balance) return new Error("Insufficient balance")
            return true
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>