<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">
        <n-form-item label="Total number of codes" path="number" :feedback="formFeedback.message.number" :validation-status="formFeedback.status.number">
            <n-input-number v-model:value="formValues.number" placeholder="Input number" :min="1" @update:value="formErrors.number = undefined" />
        </n-form-item>

        <n-form-item label="Remarks" path="remarks" :feedback="formFeedback.message.remarks" :validation-status="formFeedback.status.remarks">
            <n-input type="textarea" v-model:value="formValues.remarks" placeholder="Input remarks" @input="formErrors.remarks = undefined" />
        </n-form-item>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
export default {
    data() {
        return {
            formDisabled: false,
            formValues: {
                number: 1
            },
            formRules: {
                number: {
                    type: 'number',
                    required: true,
                    message: 'Please input number',
                    trigger: ['input', 'change'],
                },
                remarks: {
                    required: true,
                    message: 'Please input remarks',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await this.$axios.post(`/codes`, this.formValues)
                this.$emit('success', data)

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>