<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">
        <n-form-item label="Member" path="member_id" :feedback="formFeedback.message.member_id" :validation-status="formFeedback.status.member_id">
            <SearchMember v-model="formValues.member_id"/>
        </n-form-item>

        <div class="font-medium my-2">Purchase Items</div>

        <n-dynamic-input v-model:value="formValues.purchase_items" #="{ index, value }" :min="1" :on-create="onCreate">
            <div class="flex-1">
                <div class="flex flex-row gap-4">
                    <n-form-item class="flex-1" :show-label="false" :path="`purchase_items[${index}].product_id`" :rule="formRules.product_id">
                        <n-select filterable v-model:value="formValues.purchase_items[index].product_id" :options="products" placeholder="Select Product"/>
                    </n-form-item>

                    <n-form-item class="flex-1" :show-label="false" :path="`purchase_items[${index}].quantity`" :rule="formRules.quantity">
                        <n-input-number v-model:value="formValues.purchase_items[index].quantity" :min="1" placeholder="Quantity"/>
                    </n-form-item>
                </div>
            </div>
        </n-dynamic-input>

        <div class="text-right font-medium">
            Total: {{ totalPrice }}
        </div>

        <n-form-item label="Remarks" path="remarks" :feedback="formFeedback.message.remarks" :validation-status="formFeedback.status.remarks">
            <n-input type="textarea" v-model:value="formValues.remarks" placeholder="Input remarks" @input="formErrors.remarks = undefined" />
        </n-form-item>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="AR Number" path="ar_number" :feedback="formFeedback.message.ar_number" :validation-status="formFeedback.status.ar_number">
                <n-input v-model:value="formValues.ar_number" placeholder="Input AR number" @input="formErrors.ar_number = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Date Purchased" path="purchased_at" :feedback="formFeedback.message.purchased_at" :validation-status="formFeedback.status.purchased_at">
                <n-date-picker class="w-full" v-model:value="formValues.purchased_at" placeholder="Input date" type="date" @update:value="formErrors.purchased_at = undefined" />
            </n-form-item>
        </div>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
            <slot :disabled="formDisabled" name="extra-button"/>
        </div>
    </n-form>
</template>
<script>
import moment from 'moment'
import SearchMember from '~/components/utils/SearchMember.vue'
export default {
    components: { SearchMember },
    data() {
        return {
            formDisabled: false,
            formValues: {
                purchase_items:[
                    {product_id:null, quantity:1}
                ]
            },
            formRules: {
                member_id: {
                    type: 'number',
                    required: true,
                    message: 'Please input member',
                    trigger: ['input', 'change'],
                },
                product_id: {
                    type: 'number',
                    required: true,
                    message: 'Please input product',
                    trigger: ['input', 'change'],
                },
                quantity: {
                    type: 'number',
                    required: true,
                    message: 'Please input quantity',
                    trigger: ['input', 'change'],
                },
                remarks: {
                    required: true,
                    message: 'Please input remarks',
                    trigger: ['input', 'blur'],
                },
                ar_number: {
                    required: true,
                    message: 'Please input ar number',
                    trigger: ['input', 'blur'],
                },
                purchased_at: {
                    type: 'number',
                    required: true,
                    message: 'Please input date purchased',
                    trigger: ['change', 'blur'],
                },
            },
            formErrors: {},

            members: [],
            products: []
        }
    },
    async created() {
        const { data } = await this.$axios.get(`/product-items`)
        this.products = data.map(el => {
            return {
                label: `${el.product.title} ${el.volume} - P${el.price_format}`,
                value: el.id,
                price: el.price
            }
        })
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            const purchased_at = moment(new Date(this.formValues.purchased_at)).format('LL')
            this.formDisabled = true
            try {
                const { data } = await this.$axios.post(`/purchases`, {...this.formValues, purchased_at})
                this.$emit('success', data)

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
        onCreate() {
            return {product_id:null, quantity:1}
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        },
        totalPrice() {
            return this.formValues.purchase_items.reduce((prev, curr) => {
                const product = this.products.find(el => el.value == curr.product_id)
                return prev + (curr.quantity * (product ? product.price: 0))
            }, 0)
        }
    }
}
</script>