<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">
        <n-form-item label="Total profits" path="profits" :feedback="formFeedback.message.profits" :validation-status="formFeedback.status.profits">
            <n-input v-model:value="formValues.profits" placeholder="Input profits" @update:value="formErrors.profits = undefined" />
        </n-form-item>

        <n-form-item label="Remarks" path="remarks" :feedback="formFeedback.message.remarks" :validation-status="formFeedback.status.remarks">
            <n-input type="textarea" v-model:value="formValues.remarks" placeholder="Input remarks" @input="formErrors.remarks = undefined" />
        </n-form-item>

        <div class="mb-4">
            <n-checkbox v-model:checked="formValues.is_request">Submit as Request</n-checkbox>
        </div>

        <n-alert v-if="formErrors.pending_requests" title="Pending Requests" type="error" closable class="mb-4">
            <p v-for="p in formErrors.pending_requests" :key="p">{{ p }}</p>
        </n-alert>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
export default {
    props: {
        memberId: {String, Number},
        profits: {String, Number},
    },
    data() {
        return {
            formDisabled: false,
            formValues: {
                profits: this.profits,
                is_request: false
            },
            formRules: {
                profits: {
                    required: true,
                    message: 'Please input profits',
                    trigger: ['input', 'change'],
                    validator(rule, value) {
                        if (value < 1000) return new Error("Profits must be higher than 1000")
                        return true
                    }
                },
                remarks: {
                    required: true,
                    message: 'Please input remarks',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await this.$axios.post(`/members/${this.memberId}/payouts`, this.formValues)
                this.$emit('success', data)

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>