<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">
        <n-form-item label="Title" path="title" :feedback="formFeedback.message.title" :validation-status="formFeedback.status.title">
            <n-input v-model:value="formValues.title" placeholder="Input title" @update:value="formErrors.title = undefined" />
        </n-form-item>

        <n-form-item label="Description" path="description" :feedback="formFeedback.message.description" :validation-status="formFeedback.status.description">
            <n-input type="textarea" v-model:value="formValues.description" placeholder="Input description" @input="formErrors.description = undefined" />
        </n-form-item>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
export default {
    data() {
        return {
            formDisabled: false,
            formValues: {},
            formRules: {
                title: {
                    required: true,
                    message: 'Please input title',
                    trigger: ['input', 'blur'],
                },
                description: {
                    required: true,
                    message: 'Please input description',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await this.$axios.post(`/products`, this.formValues)
                this.$emit('success', data)
                window.$message.success("Product added successfully!")

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
        onCreate() {
            return {volume:'', price:''}
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>