<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Old Password" path="password_old" :feedback="formFeedback.message.password_old" :validation-status="formFeedback.status.password_old">
            <n-input type="password" v-model:value="formValues.password_old" placeholder="Input old password" @input="formErrors.password_old = undefined" />
        </n-form-item>

        <n-form-item label="New Password" path="password" :feedback="formFeedback.message.password" :validation-status="formFeedback.status.password">
            <n-input type="password" v-model:value="formValues.password" placeholder="Input new password" @input="formErrors.password = undefined" />
        </n-form-item>

        <n-form-item label="Confirm New Password" path="password_confirmation" :feedback="formFeedback.message.password_confirmation" :validation-status="formFeedback.status.password_confirmation">
            <n-input type="password" v-model:value="formValues.password_confirmation" placeholder="Confirm new password" @input="formErrors.password_confirmation = undefined" />
        </n-form-item>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
export default {
    data() {
        return {
            formDisabled: false,
            formValues: {},
            formRules: {
                password: {
                    required: true,
                    message: 'Please input new password',
                    trigger: ['input', 'blur']
                },
                password_old: {
                    required: true,
                    message: 'Please input old password',
                    trigger: ['input', 'blur']
                },
                password_confirmation: [
                    {
                        required: true,
                        message: 'Please input confirm password',
                        trigger: ['input', 'blur'],
                    },{
                        validator: this.confirmPassword,
                        message: 'Password did not mathed!',
                        trigger: ['input', 'blur', 'password-input']
                    }
                ],
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                await this.$axios.post(`/admin-password`, this.formValues)
                this.$emit('success')
                window.$message.success("Password updated successfully!")

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
        confirmPassword(rule, value) {
            return value === this.formValues.password
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>