<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="First Name" path="fname" :feedback="formFeedback.message.fname" :validation-status="formFeedback.status.fname">
                <n-input v-model:value="formValues.fname" placeholder="Input first name" @input="formErrors.fname = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Middle Name" path="mname" :feedback="formFeedback.message.mname" :validation-status="formFeedback.status.mname">
                <n-input v-model:value="formValues.mname" placeholder="Input middle name" @input="formErrors.mname = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Last Name" path="lname" :feedback="formFeedback.message.lname" :validation-status="formFeedback.status.lname">
                <n-input v-model:value="formValues.lname" placeholder="Input last name" @input="formErrors.lname = undefined" />
            </n-form-item>
        </div>

        <n-form-item label="Username" path="username" :feedback="formFeedback.message.username" :validation-status="formFeedback.status.username">
            <n-input v-model:value="formValues.username" placeholder="Input username" @update:value="formErrors.username = undefined" />
        </n-form-item>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
export default {
    data() {
        return {
            formDisabled: false,
            formValues: { ...this.$store.state.admin },
            formRules: {
                fname: {
                    required: true,
                    message: 'Please input first name',
                    trigger: ['input', 'blur'],
                },
                mname: {
                    required: true,
                    message: 'Please input middle name',
                    trigger: ['input', 'blur'],
                },
                lname: {
                    required: true,
                    message: 'Please input last name',
                    trigger: ['input', 'blur'],
                },
                username: {
                    required: true,
                    message: 'Please input username',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await this.$axios.post(`/admin-profile`, this.formValues)
                this.$store.commit('setAdmin', data)
                this.$emit('success', data)
                window.$message.success("Profile updated successfully!")

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>