<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">
        <n-form-item label="Volume" path="volume" :feedback="formFeedback.message.volume" :validation-status="formFeedback.status.volume">
            <n-input v-model:value="formValues.volume" placeholder="Input volume" @update:value="formErrors.volume = undefined" />
        </n-form-item>

        <n-form-item label="Suggested Retail Price" path="price" :feedback="formFeedback.message.price" :validation-status="formFeedback.status.price">
            <n-input v-model:value="formValues.price" placeholder="Input price" @input="formErrors.price = undefined" />
        </n-form-item>

        <n-form-item label="Discounted Price" path="price_discounted" :feedback="formFeedback.message.price_discounted" :validation-status="formFeedback.status.price_discounted">
            <n-input v-model:value="formValues.price_discounted" placeholder="Input price" @input="formErrors.price_discounted = undefined" />
        </n-form-item>

        <n-form-item label="Points" path="points" :feedback="formFeedback.message.points" :validation-status="formFeedback.status.points">
            <n-input v-model:value="formValues.points" placeholder="Input points" @input="formErrors.points = undefined" />
        </n-form-item>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
export default {
    props: {
        item: {type:Object, default:{}}
    },
    data() {
        return {
            formDisabled: false,
            formValues: {...this.item},
            formRules: {
                volume: {
                    required: true,
                    message: 'Please input volume',
                    trigger: ['input', 'blur'],
                },
                price: {
                    required: true,
                    message: 'Please input price',
                    trigger: ['input', 'blur'],
                    validator(rule, value) {
                        if (value < 100) return new Error("Price must be higher than 100")
                        return true
                    }
                },
                price_discounted: {
                    required: true,
                    message: 'Please input discounted price',
                    trigger: ['input', 'blur'],
                    validator(rule, value) {
                        if (value < 100) return new Error("Discounted Price must be higher than 100")
                        return true
                    }
                },
                points: {
                    required: true,
                    message: 'Please input points',
                    trigger: ['input', 'blur'],
                    validator(rule, value) {
                        if (value < 10) return new Error("Points must be higher than 100")
                        return true
                    }
                },
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await this.$axios.post(`/product-items/${this.item.id}?_method=PUT`, this.formValues)
                this.$emit('success', data)
                window.$message.success("Product item updated successfully!")

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
        onCreate() {
            return {volume:'', price:''}
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>